<h1>{{title}}</h1>
<p>{{sSQL}}</p>
<table>
    <tr>
        <th>User Name</th>
        <th>Full Name</th>
        <th>Stock Name</th>
        <th>Quantity</th>
    </tr>
	{{#each rows}}
	    <tr>
	        <td>{{username}}</td>
	        <td>{{fullname}}</td>
	        <td>{{name}}</td>
	        <td>{{quantity}}</td>
	    </tr>
	{{/each}}
</table>
